<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <link rel="stylesheet" href="/styles.css"> <!-- we dont need to give ./public/styles.css as node already knows to
    only look inside this folder only, so w can dierectly pass the name of file.-->
    
</head>
